In [1]:
import numpy as np
import pandas as pd

In [2]:
# Series
myarray = np.array([1, 2, 3])
rownames = ['a', 'b', 'c']
myseries = pd.Series(myarray, index=rownames)
print(type(myseries))
print(myseries)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
dtype: int32

In [3]:
print(myseries[0])

1

In [4]:
print(myseries['a'])

1

In [5]:
# dataframe
myarray = np.array([[1, 2, 3], [4, 5, 6]])
rownames = ['a', 'b']
colnames = ['satu', 'dua', 'tiga']
mydf = pd.DataFrame(myarray, index=rownames, columns=colnames)
print(mydf)

   satu  dua  tiga
a     1    2     3
b     4    5     6

In [6]:
print(type(mydf))

<class 'pandas.core.frame.DataFrame'>

In [8]:
print("Kolom pertama:")
print(mydf['satu'])

Kolom pertama:
a    1
b    4
Name: satu, dtype: int32

In [11]:
print("Kolom pertama:")
print(mydf.satu['a'])

Kolom pertama:
1